.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

.App-link {
  color: #61dafb;
}