.nav {
    margin: 20px;
    padding: 18 px;
    border-bottom: 2px solid black;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav button {
    font-size:  18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav-item {
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    border-bottom: 4px solid transparent;
}

.Glitch {
    display: inline-block;
}

#Kyle {
    text-align: right;
}